.login_form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

.button_login{
    margin-top: 144px;
}

.recover_password{
    text-align: left;
    width: 100%;
    margin-left: 32px;
}