.back_home{
    display: flex;
    align-items: center; 
    margin: 16px 0 0 16px;
    gap: 4px;
     
}

.back_home:hover{
    cursor: pointer;
    text-decoration: underline;
}

.changePassword_container{
    min-height:700px;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_send{
    margin-top: 132px;
}

.feedback{
    width:209px;
   

}
