.hello_world{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 64px;
    color: var(--primary-brand-color);
    animation: fadeInUp 0.5s ease-in-out forwards;
}