.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.layout_wrapper {
    transition: all 2s ease-in;
    display: flex;
    margin: auto auto;
    width: 825px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 4px 22px rgba(1, 1, 1, 0.2);
}

.image_container {
    max-width: 400px;
    margin: auto auto;
}

.illustration_image {
    max-width: 474px;
    max-height: 474px;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.form_container {
    min-width: 307px;
    max-width: 307px;
    background-color: #F3F3F3;
    height: 509px;
    border-radius: 10px;
    margin: 16px;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width:750px) {
    .illustration_image{
        max-width: 300px;

    }
    .layout_wrapper {
        width: 650px;
    }
}
 
@media (max-width:588px) {
    .layout_wrapper{
        margin: 16px;
    }

    .illustration_image{
        display: none;

    }

    .form_container{
        width: 100%;
        max-width: 100%;
    }
     
}
 