.header{
    width: 100%;
    background-color: var(--primary-brand-color);
    height: 80px;
    display: flex;
    font-weight: bold;
    position: relative;
    align-items: center; 
    font-size: 18px; 
    flex-wrap: wrap;
}

.home{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    position: absolute;
    left: 32px;
}

.profile_wrap {
    position: relative;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.profile_admin_settings{
    display: flex;
    align-items: center;
    gap: 18px;
    color: #fff;
    position: absolute;
    right: 32px;
}

.home_icon, .profile_icon{
    font-size: 24px;
}

.profile {
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
 
.header-home:hover{
    cursor: pointer;
    text-decoration: underline;
}

.open {
    animation: fadeInRotate 0.2s ease-in-out forwards;
    transform: rotate(180deg);
}

.profile_options{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;   
    align-items: center;
    padding: 8px;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.5);
    width: 150px;     
    border-radius: 4px;
    text-align: right;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.2s ease-in-out forwards;
}

.profile_options div:hover{
    cursor: pointer;
    text-decoration: underline;
}
