.header{
    min-width: 210px;
    width: 100%;
    background-color: var(--primary-brand-color);
    height: 80px;
    display: flex;
    font-weight: bold;
    position: relative;
    align-items: center; 
    font-size: 18px; 
    flex-wrap: wrap;
}

.home{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    position: absolute;
    left: 32px;
}

.home_nav:hover{
    cursor: pointer;
}

.profile_admin_settings{
    display: flex;
    align-items: center;
    gap: 18px;
    color: #fff;
    position: absolute;
    right: 32px;
}

.home_icon  {
    font-size: 24px;
}
 

.open {
    animation: fadeInRotate 0.2s ease-in-out forwards;
    transform: rotate(180deg);
}



@media (max-width:586px) {
    .profile_admin_settings{
        gap: 2px;
    }

    .header{
        font-size: 12px;
    }
}

@media (max-width:338px) {
    .header{
        flex-wrap: wrap;
    }   

    .home, .profile_admin_settings{
        flex-wrap: wrap;
    }
    .home{
        width: 100px;
        left:8px;
    }
    .profile_admin_settings{
        width: 120px;
        right:8px;
    }
}