.link_redirect{
    display: flex;
    font-size: 16px;
}

.link_redirect span span {
    color: var(--primary-brand-color);
    font-weight: bold;
    margin-left: 4px;   
}

.link_redirect span span:hover {
    cursor: pointer;
    text-decoration: underline;
    animation: fadeInUp 0.6s ease-in-out forwards;
}